body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

#ui {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
}

.shelf {
  background: #fff;
  padding: 20px;
  margin: auto;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

#store {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
  margin: auto;
  width: fit-content;
}

.tile {
  width: 50px;
  height: 50px;
  background: #eaeaea;
  border: 1px solid #ccc;
}

.shelf {
  background: #8b5a2b;
}

.customer {
  background: blue;
}
